li {
    color : violet;
}

.lr {
    display : flex;
    gap: 20px;
    background-color: greenyellow;

}

.section-card {
    background-color: aquamarine;
    padding : 15px;
    margin-bottom : 10px;
    color : white;
        border-radius: 20px;
        border: 2px solid tomato;
}